.section-list {
  .items-article {
    cursor: pointer;

    .section {
      background: white;
      border-bottom: 1px solid $color-gray2;
      display: flex;
      padding: $size-16;

      article {
        flex: 1 180px;

        .section-images {
          img {
            border-radius: 4px;
            height: 180px;
            width: 100%;
          }
        }

        &:nth-of-type(2) {
          flex: 3 60%;
          display: flex;
          flex-flow: column;
        }

        .section-details {
          margin-top: $size-16;
          padding-left: $size-16;

          .title {
            font-size: 24px;
            padding-bottom: $size-32;

            .mercadopago {
              padding-left: 8px;

              img {
                margin-top: -5px;
              }
            }
          }

          .description {
            font-size: 18px;
          }
        }

        &:nth-of-type(3) {
          flex: 3 20%;
          display: flex;
          flex-flow: column;
        }

        .section-address {
          color: $color-whitesmoke;
          font-size: 12px;
          margin-top: $size-32;
          
        }
      }
    }
  }
}
